<!-- <img src ='https://www.sustech.edu/wp-content/uploads/index.png'> -->
&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
![alt text](https://www.sustech.edu/wp-content/uploads/sust-logo.png)

<h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sudan University For Scienct And Technology</h1>
<h1>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Camputer Science and Inforamtion Technology Collage</h1>
<h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Inforamtion Technology</h1>

<h4> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Speech to Image Using Machine Learning</h4>

In [5]:
# %matplotlib inline
import IPython
from os import path
from pydub import AudioSegment
import random
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np
import pydub

In [6]:
import librosa.display

In [4]:
import IPython.display as ipd
import warnings
warnings.filterwarnings("ignore")
from os import walk
from IPython import display
import speech_recognition as sr
import os
from os import walk
from pydub import AudioSegment
# import soundfile

In [15]:
# conda install -c auto pyttsx

In [21]:
path = "data"
dir_list = os.listdir(path)
 
print("Files and directories in '", path, "' :")
 
# prints all files
print(dir_list)

Files and directories in ' data ' :
['bug-pit', 'direction', 'glasses', 'headache', 'ray', 'Sit-down', 'sound_file.txt', 'Sugar']

In [22]:
for i in dir_list:
    print('sust/'+i)

sust/bug-pit
sust/direction
sust/glasses
sust/headache
sust/ray
sust/Sit-down
sust/sound_file.txt
sust/Sugar

# Preprocessing Data Sample:

## First deal with sound format (aac m4a mp3 aac wav)

In [15]:
def convert_mp3_to_wave(dir_name, folder_name):
    '''
    **********SUST***********
        hi Musab Seddig and  Ali
        this funciton take an all folder with file and make preprocessing in it
        it convaret all aac mp3 opus to WAV and formt a sound
    '''
    for i in dir_name:
        
#         input_file = i
#         file_name = f'{dir_name=}'.split('=')[0]
#         print(file_name)
        output_file = f"{i.strip('.m4a')}"
        output_file = f"{output_file.strip('.aac')}"
        output_file = f"{output_file.strip('.mp3')}"
        output_file = f"{output_file.strip('.wav.wav')}"
        output_file = f"{output_file.strip('.wav')}"
        output_file = f"{output_file.strip('.aac')}"
        output_file = f"{output_file.strip('.opus')}"

#         old_name = r"E:\demos\files\reports\details.txt"
#         new_name = r"E:\demos\files\reports\new_details.txt"
        
#         os.rename(folder_name+i, folder_name+output_file+".ali")
        
        if os.path.exists(f'{folder_name}'+output_file+".wav"):
#             os.remove(filePath)
#             print(f'{folder_name}'+output_file)
#             os.rename(i, output_file+".ali")
            print("File Already exist with wav format")
#             data, samplerate = soundfile.read(f'{folder_name}'+output_file+".wav")
#             soundfile.write(f'{folder_name}'+output_file+".wav", data, samplerate, subtype='PCM_16')

        else:  # convert mp3 file to wav file
#             os.rename(folder_name+i, folder_name+output_file+".wav")
            sound = AudioSegment.from_file(f'{folder_name}/{i}')
            sound.export(f'{folder_name}/'+output_file+".wav",format='wav')
            os.remove(f'{folder_name}/{i}') 
#             data, samplerate = soundfile.read(f'{folder_name}'+output_file+".wav")
#             soundfile.write(f'{folder_name}'+output_file+".wav", data, samplerate, subtype='PCM_16')

### `This function will convert all sound to wav format`
the algorithm take only  wav format

In [16]:
def convert_all_file_to_wav(dir_list):
    for file in dir_list:
#         print(f'sust/{file}')
        sabah_anour = next(walk(f'data/{file}'), (None, None, []))[2]
#         print(len(sabah_anour))
        convert_mp3_to_wave(sabah_anour,f'data/{file}/')
        
# convert_all_file_to_wav(dir_list)

In [17]:
# convert_all_file_to_wav(dir_list)

# Speach Recognition

After Preprocessing Sound File Lets Convert it to any file ***(txt,csv,pdf,doc...)***
here we use a speach recognition libarary\
Library for performing speech recognition, with support for several engines and APIs, online and offline.

`Speech recognitio` n engine/API support:

    CMU Sphinx (works offline)

    Google Speech Recognition

    Google Cloud Speech API

    Wit.ai

    Microsoft Bing Voice Recognition

    Houndify API

    IBM Speech to Text

    Snowboy Hotword Detection (works offline)

In [18]:
r = sr.Recognizer()

In [19]:
def convert_to_text(sound_file):
    '''
    **********SUST***********
    hi every one..
    this funciton take an folder that content sound file and then convert it to text or any format you choose
    
    '''
    sounds = next(walk(f'data/{sound_file}'), (None, None, []))[2]
    for i in sounds:
        file = 'data/'+sound_file+'/'+i
        try:
            with sr.AudioFile(file) as source:
                # listen for the data (load audio to memory)
                audio_data = r.record(source)
                # recognize (convert from speech to text)
                text = r.recognize_google(audio_data, language="ar")
    #             print(text)
            with open("data/"+sound_file+'.txt',"a",encoding="utf-8") as variable_name:
                variable_name.write(text+'\n')
                
        except:
            print(f'!Unable to recognize {file}..skip to next file..')

**How above is Work??**

![sp](https://miro.medium.com/max/750/1*Q2xbrohoZIqOuvDPqAXGOA.png)

***Lets try it by our self***

In [23]:
for i in dir_list:
#     if i=='glasses' or i=='Sugar' or i== 'ray' or i =='bug-pit' or i =='direction': continue    #some problem with glass in convertied to wav file

    print(f'Extract {i} to {i}.txt
          .....')
    convert_to_text(i)

Extract bug-pit to bug-pit.csv .....
Extract direction to direction.csv .....
!Unable to recognize data/direction/AUD-20221105-WA0153.m4a..skip to next file..
Extract glasses to glasses.csv .....
!Unable to recognize data/glasses/AUD-20221105-WA0008.wav..skip to next file..
Extract headache to headache.csv .....
Extract ray to ray.csv .....
Extract Sit-down to Sit-down.csv .....
Extract sound_file.txt to sound_file.txt.csv .....
Extract Sugar to Sugar.csv .....

**Wandorfull All\
We see all that function extract all data to txt file**

## Creating data frame from data to analys text

In [7]:
dt1 = pd.read_csv('data/glasses.csv')
dt2 = pd.read_csv('data/Sit-down.csv')
dt3 = pd.read_csv('data/Sugar.csv')
dt4 = pd.read_csv('data/bug-pit.csv')
dt5 = pd.read_csv('data/direction.csv')
dt6 = pd.read_csv('data/ray.csv')
dt7 = pd.read_csv('data/headache.csv')

In [27]:
# dt6.values.numpy

In [29]:
# df = pd.concat([dt1,dt2,dt3,dt4,dt5,dt6,dt7])

In [10]:
df

                 text
0   ارتدي هذه النظاره
1   يرتدي هذه النظاره
2   يرتدي هذه النظاره
3   ارتدي هذه النظاره
4   ارتدي هذه النظاره
..                ...
48    هل تشعر بالصداع
49      هل تشعر بصداع
50    هل تشعر بالصداع
51    هل تشعر بالصداع
52      هل تشعر بصداع

[376 rows x 1 columns]

## TF-IDF
**term frequency** is the number of occurrences of a specific term in a document.\
**Document frequency** is the number of documents containing a specific term. Document frequency indicates how common the term is.\
**Inverse document frequency (IDF)** is the weight of a term, it aims to reduce the weight of a term if the term’s occurrences are scattered throughout all the documents.
![tf](https://miro.medium.com/max/640/1*u01IIJ29u39dPLkbg_F1Ew.webp)
![tf](https://miro.medium.com/max/640/1*tn1KzioOqFOlctdW1o741w.webp)

In [259]:

# Python program to find the most repeated word
# in a text file
 
# A file named "gfg", will be opened with the 
# reading mode.
file = open("data/headache.csv","r")
frequent_word = ""
frequency = 0 
words = []
 
# Traversing file line by line
for line in file:
     
    # splits each line into
    # words and removing spaces
    # and punctuations from the input
    line_word = line.lower().replace(',','').replace('.','').split(" "); 
     
    # Adding them to list words
    for w in line_word: 
        words.append(w); 
         
# Finding the max occurred word
for i in range(0, len(words)): 
     
    # Declaring count
    count = 1; 
     
    # Count each word in the file 
    for j in range(i+1, len(words)): 
        if(words[i] == words[j]): 
            count = count + 1; 
 
    # If the count value is more
    # than highest frequency then
    if(count > frequency): 
        frequency = count; 
        frequent_word = words[i]; 
 
print("Most repeated word: " + frequent_word)
print("Frequency: " + str(frequency))
file.close();

Most repeated word: هل
Frequency: 52

In [48]:
txtFile = open('../Data(Sound & Text)/Text/Sugar.txt',encoding='utf-8').read().lower().split()
txtFile = " ".join(txtFile) # this with .readlines() replaces new lines with spaces
txtFile = "".join(char for char in txtFile if char.isalnum() or char.isspace()) # removes everything that's not alphanumeric or spaces.

fq = []

wo_rd = []
wo_count = []

word_counter = {}
for word in txtFile.split(" "): # split in every space.
    if len(word) > 0 and word != '\r\n':
        if word not in word_counter: # if 'word' not in word_counter, add it, and set value to 1
            word_counter[word] = 1
        else:
            word_counter[word] += 1 # if 'word' already in word_counter, increment it by 1

for i,word in enumerate(sorted(word_counter,key=word_counter.get,reverse=True)[:40]):
    # sorts the dict by the values, from top to botton, takes the 10 top items,
#     print (word,word_counter[word])
    fq.append(f'{word} {word_counter[word]}')
    wo_rd.append(word)
    wo_count.append(word_counter[word])
  
dwo_rd = pd.Series(wo_rd) 
dwo_count = pd.Series(wo_count)
fq = pd.concat([dwo_rd, dwo_count], axis=1, keys=['The World', 'Frwquency in File'])
fq.head(10)

  The World  Frwquency in File
0       مرض                104
1        او                 53
2        اي                 53
3    السكري                 52
4      لديك                 51
5        هل                 50
6      مزمن                 47
7      text                  1
8     تعاني                  1
9        من                  1

In [107]:
def frequency_term(file):
#     print('\033[1m'+file) 
    txtFile = open(f'../Data(Sound & Text)/Text/{file}.txt',encoding='utf-8').read().lower().split()
    txtFile = " ".join(txtFile) # this with .readlines() replaces new lines with spaces
    txtFile = "".join(char for char in txtFile if char.isalnum() or char.isspace()) # removes everything that's not alphanumeric or spaces.

    fq = []
    wo_rd = []
    wo_count = []

    word_counter = {}
    for word in txtFile.split(" "): # split in every space.
        if len(word) > 0 and word != '\r\n':
            if word not in word_counter: # if 'word' not in word_counter, add it, and set value to 1
                word_counter[word] = 1
            else:
                word_counter[word] += 1 # if 'word' already in word_counter, increment it by 1

    for i,word in enumerate(sorted(word_counter,key=word_counter.get,reverse=True)[:40]):
        # sorts the dict by the values, from top to botton, takes the 10 top items,
    #     print (word,word_counter[word])
        fq.append(f'{word} {word_counter[word]}')
        wo_rd.append(word)
        wo_count.append(word_counter[word])

    dwo_rd = pd.Series(wo_rd) 
    dwo_count = pd.Series(wo_count)
    fq = pd.concat([dwo_rd, dwo_count], axis=1, keys=['The World', 'Frwquency in File'])
#     print(fq.head(10))
    return fq.head(10)

In [111]:
frequency_term('headache')

  The World  Frwquency in File
0        هل                 52
1      تشعر                 47
2   بالصداع                 33
3     بصداع                 16
4      تجعر                  2
5      text                  1
6     تجارب                  1
7      صداع                  1
8        حل                  1
9     تجربه                  1

In [115]:
from IPython.display import display, HTML

CSS = """
.output {
    flex-direction: row;
}
"""

HTML('<style>{}</style>'.format(CSS))

In [123]:
display(frequency_term('Sugar'))
display(frequency_term('bug-pit'))
display(frequency_term('ray'))
display(frequency_term('Sit-down'))

  The World  Frwquency in File
0       مرض                104
1        او                 53
2        اي                 53
3    السكري                 52
4      لديك                 51
5        هل                 50
6      مزمن                 47
7      text                  1
8     تعاني                  1
9        من                  1

  The World  Frwquency in File
0        او                108
1       شيء                 55
2      فيها                 51
3       نحو                 51
4       ذلك                 51
5       عصا                 47
6        هل                 45
7      ضربه                 43
8       مثل                 41
9     اصابك                 40

  The World  Frwquency in File
0      صوره                 51
1    الاشعه                 50
2       الى                 48
3      اشعه                 47
4      اذهب                 46
5   للعينين                 35
6      وعمل                 24
7         و                 12
8      اعمل                 12
9      بعمل                 10

  The World  Frwquency in File
0       هذا                 54
1        في                 53
2      فضلك                 53
3    الجهاز                 53
4        من                 52
5      راسك                 48
6      حسنا                 45
7       هنا                 44
8      اجلس                 43
9       وضع                 39

In [124]:
display(frequency_term('headache'))
display(frequency_term('glasses'))
display(frequency_term('direction'))
display(frequency_term('Sit-down'))

  The World  Frwquency in File
0        هل                 52
1      تشعر                 47
2   بالصداع                 33
3     بصداع                 16
4      تجعر                  2
5      text                  1
6     تجارب                  1
7      صداع                  1
8        حل                  1
9     تجربه                  1

  The World  Frwquency in File
0       هذه                 52
1   النظاره                 49
2     ارتدي                 28
3     يرتدي                  7
4    النظام                  3
5     ابتدي                  3
6     ارسلي                  2
7       تدي                  2
8      text                  1
9    انتبهي                  1

  The World  Frwquency in File
0      وهذه                156
1       هذه                 59
2   العلامه                 55
3       اين                 53
4      تتجه                 53
5       الى                 48
6      وهذا                  3
7        يا                  2
8        اي                  2
9      text                  1

In [15]:
if 'تشعر' in 'هل تشعر بصداع يا أحمد' and 'صداع' in 'هل تشعر بصداع يا يا أخمد':
    print('صورة هل تشعر بصداع في لغة الإشارة')

صورة هل تشعر بصداع في لغة الإشارة